*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
    height: 100%;
   /* background-position: center; */
   background-color: goldenrod;
   background-image: url(./cover.png);
   /* background-repeat: repeat; */
   background-size: contain;

    position: absolute;
    
   
    
}
.img{
    width: 49.5%;
    height: 100%;
    background-color: blue;
    position: absolute;
    background-image: url(./3d.png);
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.form{
    width: 50%;
    height: 80%;
    border: 2px solid black;
    border-style: double;
    border-width: 10px;
    position: absolute;
    margin-top: 70px;
    margin-left:650px ;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}
.form h1{
    text-align: center;
    margin-top: 5px;
}

.first{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 8%;
    margin-top: 20px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    gap: 3px;
}
 .first input{
    width: 50%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    flex: 2;
    margin-right: 5px;
}
input::placeholder{
    color: rgb(75, 74, 74);
    font-size: 25px;
    
}
.first i{
    font-size: 40px;
}
.second{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 8%;
    margin-top: 15px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* gap: 10px; */
}
 .second input{
    width: 100%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    flex: 2;
    margin-right: 5px;
}
input::placeholder{
    color: rgb(75, 74, 74);
    font-size: 25px;
    
}
.second  i{
    font-size: 40px;
}
.third{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 8%;
    margin-top: 15px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* gap: 10px; */
}
 .third input{
    width: 100%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    flex: 2;
    margin-right: 5px;
}
input::placeholder{
    color: rgb(75, 74, 74);
    font-size: 25px;
    
}
.third i{
    font-size: 40px;
}
.fourth{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 8%;
    margin-top: 15px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    gap: 3px;
}
 .fourth input{
    width: 50%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    flex: 2;
    margin-right: 5px;
}
input::placeholder{
    color: rgb(75, 74, 74);
    font-size: 25px;
    
}
.fourth i{
    font-size: 40px;
}
.fifth{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 8%;
    margin-top: 15px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    gap: 3px;
}
 .fifth input{
    width: 50%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    flex: 2;
    margin-right: 5px;
}
input::placeholder{
    color: rgb(75, 74, 74);
    font-size: 25px;
}
.fifth i{
    font-size: 40px;
}
.six{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 8%;
    margin-top: 15px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    gap: 3px;
}
 .six select{
    width: 50%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    flex: 2;
    margin-right: 5px;
}
input::placeholder{
    color: rgb(75, 74, 74);
    font-size: 25px;
}
.six i{
    font-size: 40px;
}
button[type="submit"]{
    font-size: 25px;
   margin-top: 20px;
   margin-left: 200px;
   background-color: white;
}
button[type="submit"]:hover{
background-color: yellowgreen;
}
button[type="reset"]{
    font-size: 25px;
   margin-top: 20px;
   margin-left: 50px;
   background-color: white;
}
button[type="reset"]:hover{
    background-color: yellowgreen;
    }
    p{
        font-size: 20px;
        margin-top: 15px;
        margin-left: 370px;
    }